<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Gestion de proyectos</title>
</head>
<body>
    <header>
        <h1 class="text-center">Constructora</h1>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Crear proyecto</h3>
                <form action="{% url 'insert' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Código:</label>
                        <input type="number" name="codigo" id="codigo" class="form-control" placeholder="Código" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre proyecto" required>
                    </div>
                    <div class="mb-3">
                        <label for="ubicacion" class="form-label">Dirección:</label>
                        <input type="text" name="ubicacion" id="ubicacion" class="form-control" placeholder="Ubicación" required>
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label">Región:</label>
                        <select name="region" id="region" class="form-control" placeholder="Región" required>
                            <option value="ARICA Y PARINACOTA">ARICA Y PARINACOTA</option>
                            <option value="TARAPACA">TARAPACA</option>
                            <option value="ANTOFAGASTA">ANTOFAGASTA</option>
                            <option value="COQUIMBO">COQUIMBO</option>
                            <option value="VALPARAISO">VALPARAISO</option>
                            <option value="METROPOLITANA">METROPOLITANA</option>
                            <option value="O'HIGGINS">O'HIGGINS</option>
                            <option value="MAULE">MAULE</option>
                            <option value="ÑUBLE">ÑUBLE</option>
                            <option value="BIO BIO">BIO BIO</option>
                            <option value="LA ARAUCANIA">LA ARAUCANIA</option>
                            <option value="LOS LAGOS">LOS LAGOS</option>
                            <option value="AYSEN DEL GENERAL CARLOS IBAÑEZ DEL CAMPO">AYSEN DEL GENERAL CARLOS IBAÑEZ DEL CAMPO</option>
                            <option value="MAGALLANES Y LA ANTARTICA CHILENA">MAGALLANES Y LA ANTARTICA CHILENA</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="presupuesto" class="form-label">Presupuesto:</label>
                        <input type="number" name="presupuesto" id="presupuesto" class="form-control" placeholder="Presupuesto" required>
                    </div>
                    <div class="mb-3">
                        <label for="solicitante" class="form-label">Solicitante:</label>
                        <input type="text" name="solicitante" id="solicitante" class="form-control" placeholder="Solicitante" required>
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado:</label>
                        <select name="estado" id="estado" class="form-control" placeholder="Estado" required>
                            <option value="EN PROGRESO">EN PROGRESO</option>
                            <option value="FINALIZADO">FINALIZADO</option>
                            <option value="NO INICIADO">NO INICIADO</option>
                            <option value="SUSPENDIDO">SUSPENDIDO</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_i" class="form-label">Fecha inicio:</label>
                        <input type="date" name="fecha_i" id="fecha_i" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_t" class="form-label">Fecha término:</label>
                        <input type="date" name="fecha_t" id="fecha_t" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">Agregar</button>
                    </div>
                </form>
            </div>
    
            <div class="col-md-6">
                <h3 class="text-center">Modificar proyecto</h3>
                <form action="{% url 'update' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Código:</label>
                        <input type="number" name="codigo" id="codigo" class="form-control" placeholder="Código" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre proyecto" required>
                    </div>
                    <div class="mb-3">
                        <label for="ubicacion" class="form-label">Dirección:</label>
                        <input type="text" name="ubicacion" id="ubicacion" class="form-control" placeholder="Ubicación" required>
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label">Región:</label>
                        <select name="region" id="region" class="form-control" placeholder="Región" required>
                            <option value="ARICA Y PARINACOTA">ARICA Y PARINACOTA</option>
                            <option value="TARAPACA">TARAPACA</option>
                            <option value="ANTOFAGASTA">ANTOFAGASTA</option>
                            <option value="COQUIMBO">COQUIMBO</option>
                            <option value="VALPARAISO">VALPARAISO</option>
                            <option value="METROPOLITANA">METROPOLITANA</option>
                            <option value="O'HIGGINS">O'HIGGINS</option>
                            <option value="MAULE">MAULE</option>
                            <option value="ÑUBLE">ÑUBLE</option>
                            <option value="BIO BIO">BIO BIO</option>
                            <option value="LA ARAUCANIA">LA ARAUCANIA</option>
                            <option value="LOS LAGOS">LOS LAGOS</option>
                            <option value="AYSEN DEL GENERAL CARLOS IBAÑEZ DEL CAMPO">AYSEN DEL GENERAL CARLOS IBAÑEZ DEL CAMPO</option>
                            <option value="MAGALLANES Y LA ANTARTICA CHILENA">MAGALLANES Y LA ANTARTICA CHILENA</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="presupuesto" class="form-label">Presupuesto:</label>
                        <input type="number" name="presupuesto" id="presupuesto" class="form-control" placeholder="Presupuesto" required>
                    </div>
                    <div class="mb-3">
                        <label for="solicitante" class="form-label">Solicitante:</label>
                        <input type="text" name="solicitante" id="solicitante" class="form-control" placeholder="Solicitante" required>
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado:</label>
                        <select name="estado" id="estado" class="form-control" placeholder="Estado" required>
                            <option value="EN PROGRESO">EN PROGRESO</option>
                            <option value="FINALIZADO">FINALIZADO</option>
                            <option value="NO INICIADO">NO INICIADO</option>
                            <option value="SUSPENDIDO">SUSPENDIDO</option>
                            
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_i" class="form-label">Fecha inicio:</label>
                        <input type="date" name="fecha_i" id="fecha_i" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_t" class="form-label">Fecha término:</label>
                        <input type="date" name="fecha_t" id="fecha_t" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-warning" type="submit">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Eliminar proyecto</h2>
                <form action="{% url 'delete' %}" method="POST" class="text-center">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="codigo-eliminar" class="form-label">Código:</label>
                        <input type="number" name="codigo" id="codigo-eliminar" class="form-control" placeholder="Código" required>
                    </div>
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </div>
    
            <div class="col-md-6">
                <h3 class="text-center">Buscar proyecto</h3>
                <form action="{% url 'search' %}" method="POST" class="text-center">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="codigo-buscar" class="form-label">Código:</label>
                        <input type="number" name="codigo" id="codigo-buscar" class="form-control" placeholder="Código" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div><br>
    

    <div class="container">
        <h3>Listado de Proyectos</h3>
        <div class="">
            {% if proyectos %}
                {% for p in proyectos %}
                <div class=""> <!-- eliminar algunos campos despues-->
                    <p><strong>Nombre:</strong> {{ p.nombre }}    </p>
                    <p><strong>Direccion:</strong> {{ p.ubicacion }}</p>
                    <p><strong>Region:</strong> {{ p.region }}</p>
                    <p><strong>Presupuesto:</strong> {{ p.presupuesto }}</p>
                    <p><strong>Solicitante:</strong> {{ p.solicitante }}</p>
                    <p><strong>Estado:</strong> {{ p.estado }}</p>
                    <p><strong>Fecha Inicio:</strong> {{ p.fecha_i }}</p>
                    <p><strong>Fecha Termino:</strong> {{ p.fecha_t }}</p>
                    <p><strong>Codigo:</strong> {{ p.codigo }}</p>
                    <a href="{% url 'detalles' p.codigo  %}" class="btn btn-info">Ver detalles</a>
                </div><br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>