<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>prueba 3-4</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">PROYECTOS</h1><br>
            <ul>
                <table>
                    <tr>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>REGION</th>
                        <th>PRESUPUESTO</th>
                        <th>FECHA DE INICIO</th>
                        <th>CODIGO</th>
                        <th>SOLICITANTE</th>
                        <th>ESTADO</th>
                        <th>FECHA DE TERMINO</th>
                        <th>DESCRIPCION</th>
                    </tr>
                    {% if datos %}
                        {% for i in datos %}
                        <tr>
                            <td><input type="text" value="{{ i.nombre }}"></td>
                            <td><input type="text" value="{{ i.ubicacion }}"></td>
                            <td><input type="text" value="{{ i.region }}"></td>
                            <td><input type="text" value="{{ i.presupuesto }}"></td>
                            <td><input type="text" value="{{ i.fecha_i }}"></td>
                            <td><input type="text" value="{{ i.codigo }}"></td>
                            <td><input type="text" value="{{ i.solicitante }}"></td>
                            <td><input type="text" value="{{ i.estado }}"></td>
                            <td><input type="text" value="{{ i.fecha_t }}"></td>
                            <td><input type="text" value="{{ i.descripcion }}"></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </ul>
    </div>
</body>
</html>